#mainHeader {
  font-size: 48px !important;
  font-weight: bold !important;
}
#showOverOrNot {
  color:black;
}
.supportText {
  font-size: 22px;
  font-style: italic;
  margin-left: 18%;
}
.padFix {
  padding: 0;
}
.clear {
  clear:both;
}
.left {
  float:left;
}
#submitDiv {
  margin-top: 3%;
  margin-bottom: 3%;
}
#surveyButton {
  margin-left: 18%;
}
body {
  background-color: darkgreen;
}
#surveyBackground {
  background-color: white;
  opacity:0.9;
  margin-bottom: 5%;
  margin-top: 3%;
}
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.25;
  filter: alpha(opacity=50);
}
#closeThisThanks {
  position:absolute;
  left:86%;
  top:90%;
  z-index: 9999;
}
hr {
  height:5px;
}
#matchHolder {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
#modal {
  position:absolute;
  left:7%;
  top:42%;
  background:white;
  border-radius:14px;
  padding:8px;
  width:650px;
  height:550px;
}
.jumbotron {
  margin-top: 1%;
  opacity: 0.9;
}
