#mainHeader {
  font-size: 48px;
  font-weight: bold;
}
.supportText {
  font-size: 22px;
  font-style: italic;
  margin-left: 18%;
}
#surveyButton {
  margin-left: 18%;
}
.displayBlock {
	display: block;
}
.displayNone {
	display: none;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.25;
  filter: alpha(opacity=50);
}
#modal {
  position:absolute;
  left:39%;
  top:19%;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
}
